@import "tailwindcss";

@theme {
  --color-primary: #3b82f6; /* Blue 500 */
  --color-background: #ffffff;

  --font-inter: 'Inter', sans-serif;
  --font-outfit: 'Outfit', sans-serif;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900;

    font-family: var(--font-inter);
  }
}